:root {
    --cl-iris: 77, 90, 229;
    /* #4d5ae5 */
    --cl-ocean: 64, 75, 191;
    /* #404bbf */
    --cl-navy-blue: 46, 47, 66;
    /* #2e2f42 */
    --cl-green: 49, 208, 170;
    /* #31d0aa */
    --cl-slate: 67, 68, 85;
    /* #434455 */
    --cl-light-slate: 142, 143, 153;
    /* #8e8f99 */
    --cl-cornflower: 231, 233, 252;
    /* #e7e9fc */
    --cl-cloud: 244, 244, 253;
    /* #f4f4fd */
    --cl-dairy: 252, 252, 252;
    /* #fcfcfc */
    --cl-white: 255, 255, 255;
    /* #ffffff */
    --cl-black: 0, 0, 0;
    /* #000000 */

    /* Animation */
    --transition-hover-focus: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

input,
textarea {
    display: block;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-cont {
    display: flex;
}

.header-cont.container {
    padding: 0 15px 0 15px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo-link {
    color: var(--IRIS, #4D5AE5);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.logo-top {
    color: #2E2F42;
}

.logo-bottom {
    color: #F4F4FD;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
}

.nav-link {
    text-decoration: none;
    display: block;
    color: #2E2F42;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    padding: 24px 0 24px;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    gap: 40px;
}

.contact-link {
    text-decoration: none;
    display: block;
    padding: 24px 0 24px;
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
    color: #404BBF;
}

.order-section {
    margin: auto;
    background-color: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/hero.jpg);
    background-size: cover;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
}

.order-header {
    color: var(--WHITE, #FFF);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.order-button {
    background: var(--IRIS, #4D5AE5);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
    background: var(--OCEAN, #404BBF);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.content-section {
    padding: 120px 0;
}

.content-list {
    display: flex;
    gap: 24px;
}

.content-item {
    flex-basis: calc((100% - 3* 24px) / 4);
}

.content-header {
    margin-bottom: 8px
}

.section-header {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.section-text {
    color: var(--SLATE, #434455);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team-section {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-header {
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-element {
    background-color: white;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.team-container {
    padding: 32px 0;
}

.team-element-header {
    text-align: center;
    margin-bottom: 8px;
}

.team-element-text {
    text-align: center;
}

.portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-header {
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-element {
    width: calc((100% - 48px) / 3);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    transition-property: box-shadow;
}

.portfolio-element:hover {
    cursor: pointer;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);

}

.portfolio-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    background-color: white;
    position: relative;
}

.portfolio-element-header {
    margin-bottom: 8px;
}


.footer {
    height: 312px;
    background-color: #2E2F42;
    padding: 100px 0;
    display: flex;
}

.container-footer {
    max-width: 1158px;
    width: 1158px;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    align-items: baseline;
}

.footer-text {
    color: var(--CLOUD, #F4F4FD);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footer-link {
    display: inline-block;
    margin-bottom: 16px;
}

.header-two {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.first-nav-link {
    display: block;
    font-weight: 500;
    color: #404bbf;
    line-height: 1.5;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.first-nav-link::after {
    content: '';
    display: none;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: rgba(64, 75, 191, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    display: block;
}

.icon-section {
    border: 1px solid #8E8F99;
    width: 264px;
    height: 112px;
    background-color: #F4F4FD;
    border-radius: 4px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.icon {
    width: 40px;
    height: 40px;
    display: flex;
}

.icon-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover {
    background-color: #404bbf;
}

.icon-link:focus {
    background-color: #404bbf;
}

.icon-link:active {
    background-color: #404bbf;
}

.icon-media {
    fill: #f4f4fd;
}

.overlay {
    padding: 40px 32px;
    background-color: #4D5AE5;
    color: #f4f4fd;
    position: absolute;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-wrapper {
    position: relative;
    overflow: hidden;
}


.portfolio-element:hover .overlay {
    transform: translateY(0);
}

.footer-social {
    margin-right: 80px;
}

.footer-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.icon-list-footer {
    display: flex;
    justify-self: center;
    gap: 16px;
    margin-top: 8px
}


.logo-wrapper {
    margin-right: 120px;
}


.icon-footer {
    width: 40px;
    height: 40px;
    display: flex;

}

.icon-link-footer {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link-footer:hover {
    background-color: #31D0AA;
}

.icon-link-footer:focus {
    background-color: #31D0AA;
}

*,
::before,
::after {
    box-sizing: border-box;
}

.footer-socials-icon {
    fill: currentColor;
}

.footer-subscribe-form {
    display: flex;
    gap: 24px;
}

.footer-subscribe-lable {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: rgb(var(--cl-white));
}

.footer-subscribe-input {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 264px;
    height: 40px;
    padding: 8px 16px;

    border-radius: 4px;
    border: 1px solid rgb(var(--cl-white));
    box-shadow: 0px 4px 4px 0px rgba(var(--cl-black), 0.15);

    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;

    color: rgb(var(--cl-white));
    background-color: transparent;
}

.footer-subscribe-input::placeholder {
    color: rgb(var(--cl-white));
}

.footer-subscribe-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 165px;
    height: 40px;
    padding: 8px 0;

    text-align: center;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.footer-subscribe-icon {
    margin-left: 16px;

    fill: currentColor;
}

.modal-overlay {
    background-color: rgba(var(--cl-navy-blue), 0.4);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    pointer-events: none;

    transition: opacity var(--transition-hover-focus),
        visibility var(--transition-hover-focus);
}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 408px;
    min-height: 584px;
    overflow-y: auto;

    border-radius: 4px;
    padding: 72px 24px 24px;

    background-color: rgb(var(--cl-dairy));
    box-shadow: 0px 2px 1px 0px rgba(var(--cl-black), 0.2),
        0px 1px 3px 0px rgba(var(--cl-black), 0.12),
        0px 1px 1px 0px rgba(var(--cl-black), 0.14);

    transition: transform var(--transition-hover-focus);
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    width: 24px;
    height: 24px;

    border-radius: 50%;
    border: 1px solid rgba(var(--cl-black), 0.1);

    color: rgb(var(--cl-navy-blue));
    background-color: rgb(var(--cl-cornflower));

    transition: background-color var(--transition-hover-focus),
        border var(--transition-hover-focus);
    cursor: pointer;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    border: none;

    color: rgb(var(--cl-white));
    background-color: rgb(var(--cl-ocean));
}

.modal-close-icon {
    fill: currentColor;

    transition: fill var(--transition-hover-focus);
}

.modal-title {
    margin-bottom: 16px;

    text-align: center;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: rgb(var(--cl-navy-blue));
}


.modal-form-field-box {
    display: flex;
    flex-direction: column;

    color: rgb(var(--cl-navy-blue));
}

.modal-form-input-box {
    margin-bottom: 8px;
}

.modal-form-textarea-box {
    margin-bottom: 16px;
}

.modal-form-label {
    margin-bottom: 4px;

    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;

    color: rgb(var(--cl-light-slate));
}

.modal-input-box {
    position: relative;
}

.modal-form-field {
    width: 100%;

    border-radius: 4px;
    border: 1px solid rgba(var(--cl-navy-blue), 0.4);

    outline: transparent;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

    color: rgba(var(--cl-navy-blue), 0.4);
    background-color: transparent;

    transition: border-color var(--transition-hover-focus);
}

.modal-form-field:hover,
.modal-form-field:focus {
    border-color: rgb(var(--cl-iris));
}

.modal-form-input {
    height: 40px;

    padding: 11px 16px 11px 38px;
}

.modal-form-textarea {
    height: 120px;

    padding: 8px 16px;

    resize: none;
    overflow-y: auto;
}

.modal-form-textarea::placeholder {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;

    color: var(--navyblue-40, rgba(46, 47, 66, 0.4));
}

.modal-form-icon {
    fill: currentColor;

    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);

    transition: fill var(--transition-hover-focus);
}

.modal-form-field:hover+.modal-form-icon,
.modal-form-field:focus+.modal-form-icon {
    fill: rgb(var(--cl-iris));
}

.custom-checkbox-container {
    margin-bottom: 24px;
}

.standard-checkbox:checked+.custom-checkbox .custom-checkbox-box {
    background-color: rgb(var(--cl-ocean));
    border: none;
    fill: rgb(var(--cl-cloud));
}

.standard-checkbox:checked+.custom-checkbox .custom-checkbox-icon {
    visibility: visible;
}

.custom-checkbox {
    cursor: pointer;
    user-select: none;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

    color: rgb(var(--cl-light-slate));
}

.custom-checkbox-box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    margin-right: 8px;

    border: 1px solid rgba(var(--cl-navy-blue), 0.4);
    border-radius: 2px;

    fill: transparent;

    transition: background-color var(--transition-hover-focus),
        border var(--transition-hover-focus), fill var(--transition-hover-focus);
}

.privacy-policy-link {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;

    color: rgb(var(--cl-iris));
}

.modal-form-btn {
    display: block;
    padding: 16px 32px;
    margin: 0 auto;
}